body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  background: url(https://images.pexels.com/photos/3219773/pexels-photo-3219773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header {
  text-align: center;
  padding: 150px 0 100px;
  margin: 0;
  background-color: #000;
}

.header h1 {
  color: #ffff;
  background-color: #000;
  font-weight: 900;
  font-size: 200px;
  letter-spacing: 30px;
  line-height: 1;
  margin: 0;
  mix-blend-mode: multiply;
}
.header h2 {
  color: #ffff;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 20px;
  padding-bottom: 30px;
}
.header .btn {
  background-color: transparent;
  font-size: 26px;
  border: solid 2px #ffffff;
  color: #ffff;
  text-decoration: none;
  padding: 18px 23px;
  margin-left: auto;
  margin-bottom: 50px;
  letter-spacing: 3px;
}
.header .btn:hover {
  background-color: #054046;
  border: solid 2px #ffffff;
  color: #ffff;
  transition: all 200ms ease-in-out;
}

main {
  color: #ffff;
  padding: 90px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 6.2%, rgb(11, 132, 145) 91.1%);
  background-repeat: no-repeat;
  background-size: cover;
}
main h2 {
  font-size: 40px;
  letter-spacing: 7px;
}
main p {
  line-height: 2;
}
section {
  padding: 50px 0;
}

.img-responsive {
  max-width: 100%;
}
.grid-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.grid-attractions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 30px;
  margin: 70px 0;
}
.grid-attractions h2 {
  place-self: center;
}
.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background-color: #ffff;
  color: #000;
}
.card-body {
  padding: 30px;
}
.card h4,
h5 {
  margin: 10px 0 5px;
}
.card h5 {
  opacity: 0.7;
}
.card p {
  font-size: 14px;
  margin: 10px 0;
}
.card .btn {
  display: block;
  text-align: center;
  background-color: #054046;
  color: #ffff;
  text-decoration: none;
  line-height: 35px;
  width: 100%;
}
.card .btn:hover {
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}
.gallery h2 {
  text-align: right;
  margin-right: 100px;
}
.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  gap: 10px;
}
.img-filter {
  filter: grayscale(100%);
}
.img-filter:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
  z-index: 1;
  transition: all 300ms ease-in-out;
}

.i2 {
  grid-row: span 2;
}

.i4 {
  grid-column: span 2;
  grid-row: span 2;
}

.i6 {
  grid-row: span 2;
}
.i7 {
  grid-row: span 2;
}

.i9 {
  grid-row: span 2;
}
.i10 {
  grid-column: span 2;
}
.i11 {
  grid-row: span 4;
}
.grid-embed {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.spotify-text {
  place-self: center;
}
.spotify {
  width: 100%;
  aspect-ratio: 9/6;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/lava.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  color: #ffff;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer a {
  color: #ffff;
  text-decoration: none;
  line-height: 2;
}
footer p {
  color: #ffff;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 80px;
}

@media (max-width: 1050px) {
  .header h1 {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 20px;
  }
  .header h2 {
    font-size: 30px;
    letter-spacing: 10px;
  }
  .header .btn {
    font-size: 25px;
    padding: 10px 15px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .header h1 {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 10px;
  }
  .header h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }
  .header .btn {
    font-size: 16px;
    padding: 5px 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
